<ion-header>
  <ion-toolbar>
    <ion-title>add-task</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label size="3" position="fixed">Title: </ion-label>
            <ion-input
              [(ngModel)]="task.title"
              name="title"
              size="9"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label size="6">Due date (Optional): </ion-label>
            <ion-input
              type="date"
              name="dueDate"
              [(ngModel)]="task.dueDate"
              size="6"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="ion-padding" type="submit">
            Add Task</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
