<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option
            color="warning"
            expandable
            [routerLink]="['/task', this.task.id]"
          >
            Edit
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label size="5">
            <div slot="top" class="ion-no-padding">{{ this.task.title }}</div>
            <div *ngIf="this.task.dueDate">
              <div class="offer-details">
                <ion-icon
                  name="calendar"
                  class="space-left"
                  color="primary"
                ></ion-icon>
                <ion-text [color]="this?.dateColor" class="space-left">
                  Due: {{ this.task.dueDate | date }}
                </ion-text>
              </div>
            </div>
            <div *ngIf="this.task.listId">
              <div class="offer-details">
                <ion-text [color]="'primary'" class="space-left">
                  List: {{ this.listName }}
                </ion-text>
              </div>
            </div>
          </ion-label>
          <ion-checkbox
            size="7"
            (click)="onTaskCompleted()"
            position="end"
          ></ion-checkbox>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" expandable (click)="onDeletedTask()">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-col>
  </ion-row>
</ion-grid>
