<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="this.mode !== 'edit'">Add Task</ion-title>
    <ion-title *ngIf="this.mode === 'edit'">Edit Task</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label size="3" position="fixed">Title: </ion-label>
            <ion-input
              formControlName="title"
              name="title"
              size="9"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label size="6">Due date (Optional): </ion-label>
            <ion-datetime
              formControlName="dueDate"
              displayFormat="YYYY-MM-DD"
              [min]="this?.today"
              [max]="this?.maxDate"
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <div *ngIf="this.mode !== 'edit'">
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>List :(Optional) </ion-label>
                <ion-select formControlName="listId">
                  <div *ngFor="let list of lists">
                    <ion-select-option [value]="list.id"
                      >{{ list.name }}
                    </ion-select-option>
                  </div>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <ion-button
            *ngIf="this.mode !== 'edit'; else elseBlock"
            expand="block"
            class="ion-padding"
            type="submit"
          >
            Add Task</ion-button
          >
          <ng-template #elseBlock>
            <ion-button expand="block" class="ion-padding" type="submit">
              Edit Task
            </ion-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
