<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons>
      <ion-button slot="start" [routerLink]="['/add-list']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/task']" slot="end">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <app-list-tasks></app-list-tasks>  -->
  <app-my-lists></app-my-lists>
</ion-content>
