<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!this.editRouteActivated; else elseBlock"
      >Add List</ion-title
    >
    <ng-template #elseBlock>
      <ion-title>Edit List</ion-title>
    </ng-template>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label size="3" position="fixed">Name: </ion-label>
            <ion-input [(ngModel)]="list.name" name="name" size="9"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="!this.editRouteActivated; else elseBlock2">
            <ion-button expand="block" class="ion-padding" type="submit">
              Add List</ion-button
            >
          </div>
          <ng-template #elseBlock2>
            <ion-button expand="block" class="ion-padding" type="submit">
              Edit List</ion-button
            >
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
